<header class="game-status" ng-show="gameTableShow">

    <span ng-if="charP1 == 'c2'">
        <div class="player-left">
        <img src="/assets/img/darth-vader.svg">
        </div>
        <div class="score-left">
            {{formatScore(scoreP1)}}
        </div>
    </span>

    <span ng-if="charP1 == 'c1'">
        <div class="player-left">
            <img src="/assets/img/luke-skywalker.svg">
        </div>
        <div class="score-left">
            {{formatScore(scoreP1)}}
        </div>
    </span>

    <img src="/assets/img/medal.svg" class="medal">


    <span ng-if="charP2 == 'c1'">
        <div class="player-right">
        <img src="/assets/img/luke-skywalker.svg">
        </div>
        <div class="score-right">
            {{formatScore(scoreP2)}}
        </div>
    </span>

    <span ng-if="charP2 == 'c2'">
        <div class="player-right">
        <img src="/assets/img/darth-vader.svg">
        </div>
        <div class="score-right">
            {{formatScore(scoreP2)}}
        </div>
    </span>

</header>