
<section class="tic-tac-toe" id="tic-tac-toe">

    <header class="game-status">

        <div class="player-left">
            <img src="/assets/img/darth-vader.svg">
        </div>
        <div class="score-left">
            01
        </div>

        <img src="/assets/img/medal.svg" class="medal">


        <div class="player-right">
            <img src="/assets/img/luke-skywalker.svg">
        </div>
        <div class="score-right">
            00
        </div>

    </header>

    <section class="table">

        <div class="cell">
            <div class="intern">
                <img src="/assets/img/darth-vader.svg">
            </div>
        </div>
        <div class="cell middle">
            <div class="intern">
                <img src="/assets/img/darth-vader.svg">
            </div>
        </div>
        <div class="cell">
            <div class="intern">
                <img src="/assets/img/luke-skywalker.svg" class="luke">
            </div>
        </div>
        <div class="cell">
            <div class="intern">
                <img src="/assets/img/luke-skywalker.svg" class="luke">
            </div>
        </div>
        <div class="cell middle">
            <div class="intern">
                <img src="/assets/img/darth-vader.svg">
            </div>
        </div>
        <div class="cell">
            <div class="intern">
                <img src="/assets/img/darth-vader.svg">
            </div>
        </div>
        <div class="cell">
            <div class="intern">
                <img src="/assets/img/luke-skywalker.svg" class="luke">
            </div>
        </div>
        <div class="cell middle">
            <div class="intern">
                <img src="/assets/img/darth-vader.svg">
            </div>
        </div>
        <div class="cell">
            <div class="intern">
                <img src="/assets/img/luke-skywalker.svg" class="luke">
            </div>
        </div>

    </section>

    <footer>
        <img src="/assets/img/reset.svg">
    </footer>

</section>
